<div id="home">
  <div class="container">
    <div id="header">
          <p class="headerText">Bracket</p>
          <div id="logo">
            <img src="assets/BB_Black_.png" alt="Bracket Builder Logo" id="mainLogo">
          </div>
          <p class="headerText">Builder</p>
        </div>    
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Welcome Competitors!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">First Name</label>
            <input type="text" id="first-name" class="form-control" aria-describedby="example-text" placeholder="Enter First Name">
          </div>
           <div class="form-group">
            <label for="example-text">Last Name</label>
            <input type="text" id="last-name" class="form-control" aria-describedby="example-text" placeholder="Enter Last Name">
          </div>
           <div class="form-group">
            <label for="example-text">Belt Color</label>
            <select class="custom-select" id="belt-color">
            <option selected> Choose Belt Color</option>
            <option value="whitebelt">White</option>
            <option value="bluebelt">Blue</option>
            <option value="purplebelt">Purple</option>
            <option value="brownbelt">Brown</option>
            <option value="blackbelt">Black</option>
        </select>
          </div>
           <div class="form-group">
            <label for="example-text">Weight</label>
        {{!-- <select class="custom-select">
            <option selected>Choose</option>
            <option value="lightfeather">Light Feather 53.5kg(118 lbs)</option>
            <option value="feather">Feather 58.5kg(129 lbs)</option>
            <option value="light">Light 64kg(141 lbs)</option>
            <option value="middle">Middle 69kg(152 lbs)</option>
            <option value="mediumheavy">Medium Heavy 74kg(163 lbs)</option>
            <option value="heavy">No maximum weight</option>
        </select> --}}
            <input type="text" id="weight" maxlength="3" class="form-control" aria-describedby="example-text" placeholder="Enter Weight">
          </div>
           <div class="form-group">
            <label for="example-text">Zipcode</label>
            <input type="text" id="zipcode" maxlength="5" class="form-control" aria-describedby="example-text" placeholder="Enter Zipcode">
          </div>
          <div class="form-group">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        {{!-- Map --}}
        <div id="map"></div>
        <div class="col-8 offset-2">
          <div class="form-group">
            <input type="text" id="zip" class="form-control" aria-describedby="example-text" placeholder="Enter zipcode to find nearby gyms">
            <button id="zipSubmit" class="btn btn-primary float-right">Submit</button>
          </div>
        </div>
        {{!-- Competitors --}}
        <div id="competitor_row">
          <h3>Competitors:</h3>
            <ul id="competitor-list" class="list-group">
          {{#each competitor}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="competitors/{{this.id}}">{{this.first_name}} {{this.last_name}} {{belt_color}} {{weight}} {{zipcode}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
